.header-image-background {
  height: 400px;
  max-height: 600px;
  padding: 0;
  bottom: 0;
  @include background('../images/bg/bg1.jpg');
  background-position: 0 -350px;
  @include blur(3px);

  .profile-pic {
    @include blur(0px);
  }

}
