.header-image-background {
  height: 400px;
  padding: 0;
  @include background('../images/bg/bg1.jpg');
  @include blur(3px);

  @include bp-xxlarge {
    @include background('../images/original/bg1.jpg');
  }
  @include bp-xlarge {
    @include background('../images/original/bg1.jpg');
  }
  @include bp-large {
    @include background('../images/bg2x/bg1.jpg');
  }
  @include bp-medium {
    @include background('../images/bg/bg1.jpg');
  }
  @include bp-small {
    @include background('../images/bg/bg1.jpg');
  }

}

.profile-pic {
  @include blur(0px);
  margin-top: -20em;
  background: transparent;
  color: white;

}
